
<p class="blurb-hook">No one knows what waits beyond the doors of death.</p>

<p>Long ago, the Soulmages of Hellendor were entrusted with the sacred duty of reincarnation. Their orders were simple—to care for the world, to tend to the Lifetrees, and to keep the people from walking the Twilight Path that leads to Heaven.</p>

<p>It is a modest life, that of a Soulmage, especially in the mountain village of Konai. Kotyr is content, however. He has few wants and fewer needs.</p>

<p>But fifteen years after the fall of the Empire, a stranger brings chilling news to his quiet Lifetree. Kotyr is forced to confront a destiny he never wanted. With a prince, a one-eyed warrior, and an oracle seeking answers from her past lives, he embarks on a quest across Hellendor to reforge a terrible weapon.</p>

<p>As the Lifetrees burn and dragons spread their long-dormant wings, Kotyr will be faced with an impossible choice. But what difference can his decision make, in the face of destiny?</p>
